In [1]:
information=[]

In [2]:
studentform1={"name" : "Hamza Ali",
     "age"  : 25,
     "work" : "A.I",
     "skills" : ["python", "tensorflow", "cloud"],
     "degree" : {"title" : "BS", "major" : "computer Science", "completionDate" : "Jun 2019"},
     "salary" : 259999
     }

In [3]:
type(studentform1)

dict

In [4]:
studentform2={'name': 'Farooq Aziz',
  'age': 27,
  'work': 'Cloud Native',
  'skills': ['ubuntu', 'docker', 'kubernetes'],
  'degree': {'title': 'MS',
   'major': 'Software engineer',
   'completionDate': 'May 2018'},
  'salary': 200000}

In [5]:
type(studentform2)

dict

In [6]:
studentform3={'name': 'Abu Bakr',
  'age': 30,
  'work': 'Blockchain',
  'skills': ['python', 'Cryptography', 'Ethereum'],
  'degree': {'title': 'BS',
   'major': 'computer Science',
   'completionDate': 'May 2019'},
  'salary': 300000}

In [7]:
type(studentform3)

dict

In [8]:
information=[studentform1]

In [9]:
information

[{'name': 'Hamza Ali',
  'age': 25,
  'work': 'A.I',
  'skills': ['python', 'tensorflow', 'cloud'],
  'degree': {'title': 'BS',
   'major': 'computer Science',
   'completionDate': 'Jun 2019'},
  'salary': 259999}]

In [10]:
information.append(studentform2)
information.append(studentform3)

In [11]:
information

[{'name': 'Hamza Ali',
  'age': 25,
  'work': 'A.I',
  'skills': ['python', 'tensorflow', 'cloud'],
  'degree': {'title': 'BS',
   'major': 'computer Science',
   'completionDate': 'Jun 2019'},
  'salary': 259999},
 {'name': 'Farooq Aziz',
  'age': 27,
  'work': 'Cloud Native',
  'skills': ['ubuntu', 'docker', 'kubernetes'],
  'degree': {'title': 'MS',
   'major': 'Software engineer',
   'completionDate': 'May 2018'},
  'salary': 200000},
 {'name': 'Abu Bakr',
  'age': 30,
  'work': 'Blockchain',
  'skills': ['python', 'Cryptography', 'Ethereum'],
  'degree': {'title': 'BS',
   'major': 'computer Science',
   'completionDate': 'May 2019'},
  'salary': 300000}]

In [12]:
studentform1["name"]

'Hamza Ali'

In [13]:
studentform1["skills"]

['python', 'tensorflow', 'cloud']

In [14]:
studentform3["degree"]

{'title': 'BS', 'major': 'computer Science', 'completionDate': 'May 2019'}

In [15]:
print(studentform2["degree"]["title"])    #DICTIONARY OF DICTIONARIES(dic me dic)

MS

In [16]:
print(studentform1["skills"][0])          #DICTIONARY OF LISTS(dic me list)

python

In [17]:
print(information[0]["salary"])           #LIST OF DICTIONARY(list me dictionary)

259999

In [18]:
print(information[1]["salary"])

200000

In [19]:
information[2]["degree"]

{'title': 'BS', 'major': 'computer Science', 'completionDate': 'May 2019'}

In [20]:
tables=int(input("enter tables from:"))
tables=int(input("enter tables to:"))
for num in range(5,11):
    print("\n")
    for table in range(1,tables+1):
        print(str(table),'*', str(num), '=', str(table*num),'' ,end='')
        print('')

enter tables from:5
enter tables to:10


1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50


1 * 6 = 6
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36
7 * 6 = 42
8 * 6 = 48
9 * 6 = 54
10 * 6 = 60


1 * 7 = 7
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49
8 * 7 = 56
9 * 7 = 63
10 * 7 = 70


1 * 8 = 8
2 * 8 = 16
3 * 8 = 24
4 * 8 = 32
5 * 8 = 40
6 * 8 = 48
7 * 8 = 56
8 * 8 = 64
9 * 8 = 72
10 * 8 = 80


1 * 9 = 9
2 * 9 = 18
3 * 9 = 27
4 * 9 = 36
5 * 9 = 45
6 * 9 = 54
7 * 9 = 63
8 * 9 = 72
9 * 9 = 81
10 * 9 = 90


1 * 10 = 10
2 * 10 = 20
3 * 10 = 30
4 * 10 = 40
5 * 10 = 50
6 * 10 = 60
7 * 10 = 70
8 * 10 = 80
9 * 10 = 90
10 * 10 = 100

In [21]:
for num in range(1,11):
    for table in range(5,table+1):
        print(str(table),'*', str(num), '=', str(table*num),'\t' ,end='')
    print('')

5 * 1 = 5 	6 * 1 = 6 	7 * 1 = 7 	8 * 1 = 8 	9 * 1 = 9 	10 * 1 = 10
5 * 2 = 10 	6 * 2 = 12 	7 * 2 = 14 	8 * 2 = 16 	9 * 2 = 18 	10 * 2 = 20
5 * 3 = 15 	6 * 3 = 18 	7 * 3 = 21 	8 * 3 = 24 	9 * 3 = 27 	10 * 3 = 30
5 * 4 = 20 	6 * 4 = 24 	7 * 4 = 28 	8 * 4 = 32 	9 * 4 = 36 	10 * 4 = 40
5 * 5 = 25 	6 * 5 = 30 	7 * 5 = 35 	8 * 5 = 40 	9 * 5 = 45 	10 * 5 = 50
5 * 6 = 30 	6 * 6 = 36 	7 * 6 = 42 	8 * 6 = 48 	9 * 6 = 54 	10 * 6 = 60
5 * 7 = 35 	6 * 7 = 42 	7 * 7 = 49 	8 * 7 = 56 	9 * 7 = 63 	10 * 7 = 70
5 * 8 = 40 	6 * 8 = 48 	7 * 8 = 56 	8 * 8 = 64 	9 * 8 = 72 	10 * 8 = 80
5 * 9 = 45 	6 * 9 = 54 	7 * 9 = 63 	8 * 9 = 72 	9 * 9 = 81 	10 * 9 = 90
5 * 10 = 50 	6 * 10 = 60 	7 * 10 = 70 	8 * 10 = 80 	9 * 10 = 90 	10 * 10 = 100